@import "./base.css";
@import "./nav.css";
@import "./home.css";
@import "./code-highlighting.css";
/* @import "./community.css"; */

#app {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;

  font-weight: normal;
}

h1#title {
  color: #d4d4d4;
}

.wrapper {
  text-align: center;
}

.wrapper > * {
  display: inline-block;
}

.wrapper #title {
  font-weight: 700;
  font-size: 350%;
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}
